<div class="container-sm justify-content-center col-lg-4 mt-5">
  <form class="form-signin" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">
    <div class="container-fluid">
      <h2 class="form-signin-heading text-center">
        <img src="../../assets/forgotPass.jpg" width="15%"/>
        Forgot Password</h2>
      <div class="form-group mt-3">
        <label for="loginid" class="mb-2">LoginId</label>
        <input class="form-control" placeholder="LoginId" id="loginid" type="text" #loginid="ngModel" name="loginid"
          [(ngModel)]="formModel.loginId" required />
      </div>
      <div class="form-group mt-3">
        <label for="password" class="mb-2">New Password</label>
        <input class="form-control" placeholder="Password" id="password" type="password" #newPassword="ngModel"
          name="newPassword" [(ngModel)]="formModel.newPassword" required />
      </div>
      <div class="form-group mt-3">
        <label for="confirmpassword" class="mb-2">Confirm New Password</label>
        <input class="form-control" placeholder="Confirm Password" id="confirmpassword" type="password"
          #confirmNewPassword="ngModel" name="confirmNewPassword" [(ngModel)]="formModel.confirmNewPassword" required />
      </div>

      <div class="form-group mt-4 text-center">
        <button class="btn btn-lg btn-success btn-block border-dark col-lg-12" [disabled]="form.invalid">Reset Password</button>
      </div>
    </div>
  </form>
</div>
